*{margin: 0;
    padding: 0;}

    .header{
        min-height: 100vh;
        width: 100%;
        background-image: linear-gradient(rgba(4,9,30,0.75), rgba(4,9,30,0.75)) , url(eduford_img/pexels-pixabay-247823.jpg);
        background-position: center;
        background-size: cover;

    }
    nav{
       display: flex;
       padding: 2% 3%;
       justify-content: space-between;
       align-items: center;

    }
    .nav-links ul li{
        display: inline-block;
        list-style: none;
        padding: 20px 10px;
        margin: 10px 20px;

    }
    .nav-links ul{
        position: relative;
        top: -15px;
        left: -25px;
        
        
    }
    nav img{
        width: 150px;
        position: relative;
        top: -8px;
    }
    .nav-links ul li a{
        font-size: 20px;
        text-decoration: none;
        color: white;
        font-family: 'Montserrat', sans-serif;
    }
    /* navigation hover effect */
    .nav-links ul li::after{
        content: '';
        display: block;
        background: #f44336;
        width: 0;
        height: 2px;
        margin: auto;
        transition: all;
        transition-duration: 0.5s;
    }
    .nav-links ul li:hover::after{
        width: 100%;
    }
    .text-box{
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        text-align: center;
        color: white;
    }
    .text-box p{
        font-size: 20px;
        margin: 20px auto;
        line-height: 25px;
    }
    .text-box h1{
        font-size: 55px;
        margin-top: 80px;

    }
    .button a{
        color: white;
        text-decoration: none;
        font-size: 15px;
        
    }

    .button {
        width: 180px;
        margin: 20px;
        padding: 10px 10px;
        display: inline-block;
        border: 2px solid #f44336;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 0.15rem;
        transition: all 0.5s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        cursor: pointer;
        border-radius: 10rem;
        
}
.button:after {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
/* background-color: #0cf; */
background-color: transparent;
border-radius: 10rem;
z-index: -2;

}
.button:before {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 0%;
height: 100%;
background-color: #f44336;
transition: all 0.5s;
border-radius: 10rem;
z-index: -1;

}
.button:hover {
color: rgb(149, 32, 32);

}
.button:hover:before {
width: 100%;

}
.button{
background-color: transparent;}

@media(max-width: 750px){
    .text-box p{
        font-size: 10px;
        margin: 20px auto;
        line-height: 25px;
    }
    .text-box h1{
        font-size: 20px;
        margin-top: 80px;

    }
    .nav-links ul li{
        display: block;
    }
    }
    /* -----course----- */
    .course{
        margin: auto;
        text-align: center;
        padding-top: 100px;
        width: 80%;
    }
    .course h1{
        font-size: 60px;
        font-weight: bold;
    }
    .course p{
        color: #777;
        padding-top: 10px;
    }
    .row{
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
        /* float: right; */
    }
    .course-col{
        flex-basis: 31%;
        background: #e2b3b4;
        border-radius: 20px;
        margin-bottom: 5%;
        padding: 20px 30px;
        box-sizing: border-box;
        transition: 0.4s;
    }
    .row h3{
        text-align: center;
        font-weight: 600;
        font-size: 25px;
        margin: 10px 0;
    }
    .course-col:hover{
        box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
    }
    @media(max-width:700px){
        .row{flex-direction: column;}
    }
    
    /* -----campus--- */

    .campus{
        margin:auto;
        padding-top: 50px;
        width: 80%;
        text-align: center;

    }
    .campus h1{  font-size: 60px;
        font-weight: bold;
    }
    .campus p{
        color: #777;
        padding-top: 10px;
    }

    .campus-col{
        
        flex-basis: 32%;
        margin-bottom: 30px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
    }
    .campus-col img{
        width: 100%;
    }
    .layer{
        background: transparent;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.4s;

    }
    .layer:hover{
        background: rgba(200, 0, 0, 0.6);
    }
    .layer h3{
        width: 100%;
        font-weight: 500;
        font-size: 27px;
        color: #fff;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        opacity: 0;
        transition: 0.4s;
    }
   .layer:hover h3{
    bottom: 49%;
    opacity: 1;
   }
   
   /* ------facility---- */

   .facility{
        margin:auto;
        padding-top: 50px;
        width: 80%;
        text-align: center;
   }
    .facility h1{  font-size: 60px;
        font-weight: bold;
    }
    .facility p{
        color: #777;
        padding-top: 10px;
    }
    .facility-col{
        flex-basis: 32%;
        margin-bottom: 30px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
    }
    .facility-col img{
        width: 100%;
        border-radius: 15px;
    }

    /* -----testimonials----- */

    .testimonial{
        margin:auto;
        padding-top: 50px;
        width: 80%;
        text-align: center;
        font-size: 30px;

    }
    .testimonial p{
        color: #777;
        font-size: 17px;
    }
    .testimonial-col{
        flex-basis: 44%;
        width: 80%;
        background: #fff3f3;
        margin-bottom: 5%;
        padding: 25px;
        display: flex;
        justify-content: left;
        border-radius: 10px;
    }
    .testimonial-col img{
        height: 40px;
        border-radius: 50%;
        margin-left: 5px;
        margin-right: 30px;
    }
    .testimonial-col h3{
        text-align: left;
        color: #f44336;
    }
    .testimonial-col p{
        text-align: left;
        padding: 0;
    }
    .star{
        position: relative;
        left: -165px;
        
    }


    /* ---call to action--- */

    .cta{
        width: 80%;
        margin:100px auto ;
        background-image: linear-gradient(rgba(0,0,0,0.6) , rgba(0,0,0,0.6)) , url(/eduford_img/banner2.jpg);
        background-position: center;
        background-size: cover;
        padding: 100px 0;
        text-align: center;
          
    }
    .cta h1{
        color: white;
        font-size: 40px;
    }
    .cta a{
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
    .cta a:hover{
        color: #fff;
    }
    @media(max-width:700px){
        .cta h1{
            font-size: 20px;
        }
        .star{
            position: relative;
            left: -120px;
        }
        
    }

    /* ------footer------ */


    .footer{
        width: 100%;
        padding: 10px 0;
        text-align: center;
    }
    .footer h3{
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 40px;
    }
    .icons{
        padding: 10px 5px;
        margin: 10px 5px;
        cursor: pointer;
        color: #f44336;
    }
    .icons p{
        padding: 16px 10px;
        color: black;
    }
    /* --------about us page------- */
    .sub-header{
        width: 100%;
        height: 50vh;
        background-image: linear-gradient(rgba(4,9,30,0.7) , rgba(4,9,30,0.7)) , url(/eduford_img/background.jpg);
        background-position: center;
        background-size: cover;
        text-align: center;
        color: #fff;
        }

        .sub-header h1{
            margin: 120px;
            font-size: 35px;
        }

        .about-us{
            width: 80%;
            margin: auto;
            padding-bottom: 50px;
            padding-top: 80px;
        }

    .about-col{
        flex-basis: 44%;
        padding: 40px 2px;
        text-align: center;

    }
    .about-col img{
        width: 100%;
    }
    .about-col p{
        margin: 20px 30px;
    }
    .about-col h2{
        font-size: 40px;
    }
    .about-col a{
        text-decoration: none;
        color: rgb(169, 76, 76);
    }
    .about-col a:hover{
        color: white;
    }


    /* ------blog----- */

    .blog-content{
        width: 80%;
        margin: auto;
        padding: 60px 0px;

    }
    .blog-left{
        flex-basis: 60%;
        text-align: center;

    }
    .blog-left img{
        width: 100%;
    }
    .blog-left h2{
        margin-top: 20px;
        font-size: 30px;
        
    }
    .blog-left p{
        margin-top: 30px;
        color: #777;
    }
    .blog-right{
        flex-basis: 35%;
        

    }
    .blog-right h2{
        background-color: #f44336;
        text-align: center;
        border-radius: 10px;
        height: 35px;
    }
    
    .blog-right pre{
        background-color: #fff3f3;
        font-size: 15px;
        padding-left: 20px;
        margin: 10px;
        font-weight: 400;
     
    }
    .blog-right pre button{
        width: 100px;
    }
   .blog-right pre button:hover{
    color: white;
   }

   .comment-box{
    margin: 50px 0;
    padding: 10px 20px;
    border: 1px solid #ccc;
   }
   .comment-box h3{
    text-align: left;
   }
   .comment-form input , .comment-form textarea{
     width: 100%;
    padding: 10px; 
    margin: 15px 0px;
    box-sizing: border-box;
    outline: none;
    border: none;
    background: #f0f0f0;

   }
   .comment-form button{
    position: relative;
    left: -250px;
   }
   .comment-form button:hover{
    color: white;
   }
   .teacher img{
        height: 130px;
        border-radius: 10%;
        margin-left: 5px;
        margin-right: 30px;
   }
   .teacher p{
    color: #777;
    font-size: 17px;
}
.teacher{
    flex-basis: 44%;
    width: 80%;
    background: #fff3f3;
    margin-bottom: 1%;
    padding: 25px;
    display: flex;
    justify-content: left;
    border-radius: 10px;
}

.location{
    flex-basis: 44%;
    width: 80%;
    margin: auto;
    padding: 30px 0px;
}
.location-col{
    background-color: #ccc;
    padding: 32px 32px;
    border-radius: 20px;
    width: 40%;
}
.location-col h3{
    text-align: left;
}
.location-form input , .location-form textarea{
    width: 100%;
   padding: 10px; 
   margin: 15px 0px;
   box-sizing: border-box;
   outline: none;
   border: none;
   background: #f0f0f0;
   border-radius: 15px;
}
.location-form button:hover{
color: white;
}
.location-col iframe{
    width: 90%;
    margin-top: 30px;
    
}
        
       
        
    